:root {
  --primary-color: #135afe;
  --msg-user-bg-color: #135afe;
  --color-wave-dot: #000;
  --msg-bot-bg-color: #f4f7f9;
  --button-send-color: #135afe;
  --width-button: 60px;
  --height-button: 60px;
  --white-color: #ffffff;
  --content-color: #f1f1f1;
  --white-dark-color: #dddddd;
  --error-color: #ff0000;
  --star-checked-color: #ffa500;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.rw-widget-container {
  gap: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rw-launcher .rw-tooltip-body {
  right: calc(var(--width-button) + 30px);
}

@media screen and (max-width: 800px) {
  .rw-launcher .rw-tooltip-body {
    width: 20rem;
  }
}

.rw-launcher .rw-tooltip-body {
  margin-right: -1rem;
}

.rw-conversation-container .rw-header {
  background-color: var(--primary-color) !important;
}

@media screen and (max-width: 800px) {
  .rw-conversation-container .rw-header {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
  }
}

.rw-conversation-container .rw-header {
  background-color: var(--primary-color) !important;
}

.rw-conversation-container .rw-title.rw-with-avatar {
  left: 50px;
}

h4.rw-title.rw-with-avatar {
  margin-left: 0.6rem;
}

.rw-dot {
  background: var(--color-wave-dot) !important;
}

.rw-conversation-container .rw-response {
  color: var(--msg-bot-text-color) !important;
  background-color: var(--msg-bot-bg-color) !important;
}

/* .rw-group-message.rw-from-response
  .rw-message:not(:first-child):not(:only-child).rw-with-avatar {
  margin-left: 33px;
} */

.rw-conversation-container .rw-client {
  color: var(--msg-user-text-color) !important;
  background-color: var(--msg-user-bg-color) !important;
}

.rw-conversation-container .rw-send .rw-send-icon-ready {
  fill: var(--button-send-color) !important;
}

.rw-launcher {
  width: var(--width-button) !important;
  height: var(--height-button) !important;
  background-color: var(--primary-color) !important;
}

.rw-send {
  padding-right: 0.5rem;
}

.rw-sender {
  padding: 0 !important;
}

.rw-conversation-container .rw-sender {
  flex-direction: column-reverse;
}

.rw-new-message {
  height: 100%;
}

.rw-widget-container .rw-full-screen .rw-chat-open {
  width: 100%;
}

.pillole-icon {
  width: 3rem;
}

.imgbox {
  height: 100%;
  display: grid;
}

.center-fit {
  margin: auto;
  max-width: 100%;
  max-height: 100vh;
}

.icon-button-menu {
  width: 1.8rem;
  height: 1.8rem;
}

.disabled-link {
  opacity: 0.3;
  pointer-events: none;
}

.button-menu {
  border: 0;
  background: none;
  box-shadow: none;
  margin-top: 0.2rem;
}

.display-none {
  display: none !important;
}

#inviaFeedback {
  font-size: 1.2rem;
}

#container-custom {
  /* overflow-y: auto; */
  height: 100%;
}

.container-custom {
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.arrow-left {
  width: 1.5rem;
  margin-left: 0.6rem;
  cursor: pointer;
}

.container-custom ul {
  list-style: none;
}

ul {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* collapsible */

.container-collapse {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.pillole-title {
  padding: 0.1rem;
  font-weight: normal;
}

.rotate-arrow {
  transform: rotate(180deg);
}

iframe {
  width: 100%;
  height: 100%;
}

.collapsible {
  width: 100%;
  padding: 1rem;
  display: flex;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  background: none;
  text-align: left;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.image-custom {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.collapsibile-icon-img {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
}

.content {
  display: none;
  padding: 0.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  /* background-color: var(--content-color); */
}

.content > div > ul > li {
  margin-left: 1rem;
  list-style: disc !important;
}

/* collapsible */

/* Feedback section */

.container-close {
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
}

.container-textarea {
  height: 50%;
  display: block;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.title-feedback {
  text-align: center;
  position: unset !important;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 0.4rem;
  box-sizing: border-box;
}

.textarea-error {
  border: 1px solid var(--error-color);
}

#close-icon {
  margin-top: auto;
  margin-right: 1rem;
  margin-bottom: auto;
}

#error-feedback {
  margin-left: 1rem;
}

#textareabox {
  outline: none;
  border-radius: 10px;
}

/* Star rating */

.checked {
  color: var(--star-checked-color);
}

.class-rating {
  display: flex;
  padding: 1rem 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.class-rating > svg {
  width: 2rem;
  height: 2rem;
}

.container-button {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="button"] {
  border: 0;
  width: 50%;
  padding: 0.5rem;
  border-radius: 1rem;
  color: var(--white-color);
  background-color: var(--primary-color) !important;
}

.fa-star {
  font-size: 2.5rem !important;
}

/* Star rating */

/* Feedback section */

/* Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  z-index: 1;
  right: 0;
  display: none;
  position: absolute;
  min-width: 160px;
  border-radius: 0.5rem;
  background-color: var(--content-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#dropdown-content a {
  color: black;
  display: block;
  cursor: pointer;
  padding: 12px 16px;
  text-decoration: none;
}

#dropdown-content a:hover {
  border-radius: 0.5rem;
  background-color: var(--white-dark-color);
}

.dropdown:hover #dropdown-content {
  display: block;
}

/* Dropdown */

/* Popup custom */

.popup-custom {
  float: right;
  width: 70%;
  z-index: 999;
  height: 60px;
  display: flex;
  position: absolute;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--white-color);
  right: calc(var(--width-button) + 30px);
  background: var(--primary-color) !important;
}

.popup-custom:before {
  top: 36%;
  width: 0px;
  content: "";
  height: 0px;
  right: -19px;
  position: absolute;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid var(--primary-color) !important;
  border-left: 10px solid var(--primary-color) !important;
}

/* Popup custom */

.fade-in {
  opacity: 8;
  animation-duration: 0.5s;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* autocomplete */

.container-input {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*the container must be positioned relative:*/

.autocomplete {
  padding: 1rem;
  position: relative;
  /* display: inline-block; */
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid transparent;
  background-color: #f1f1f1;
}

input[type="text"] {
  width: 100%;
  background-color: #f1f1f1;
}

input[type="submit"] {
  color: #fff;
  cursor: pointer;
  background-color: DodgerBlue;
}

.autocomplete-items {
  width: 100%;
  z-index: 99;
  position: absolute;
  overflow-y: scroll;
  box-shadow: 0px -0.5rem 0.4rem rgb(0 0 0 / 5%);
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background: #f4f7f9;
}

/*when hovering an item:*/

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
  color: #ffffff;
  background-color: DodgerBlue !important;
}

/* autocomplete */

/* attachments */

#btn-attachments {
  border: none;
  padding: 0.3rem;
  margin-left: 0.4rem;
  border-radius: 0.2rem;
}

.container-modal-attachments {
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #80808059;
}

.modal-attachments {
  height: 50%;
  margin: 1rem;
  display: flex;
  /* color: white; */
  padding: 0.5rem;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  justify-content: space-evenly;
  box-shadow: 0 1px 1.5px -1px rgb(0 0 0 / 5%),
    0 2.5px 3.7px -1px rgb(0 0 0 / 7%), 0 5px 7px -1px rgb(0 0 0 / 9%),
    0 9.7px 12.5px -1px rgb(0 0 0 / 10%), 0 19.7px 23.4px -1px rgb(0 0 0 / 12%),
    0 54px 56px -1px rgb(0 0 0 / 17%);
}

.input-file-container {
  width: 80%;
  height: 50%;
  display: flex;
  color: #7e7d7d;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f7f9;
  outline: 2px dashed #bbbbbb;
}

.icon-upload {
  width: 5rem;
  height: 5rem;
  fill: #676666;
}

input[type="file"] {
  width: 85%;
  opacity: 0;
  z-index: 99;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 30px;
  margin-right: 20px;
  position: absolute;
  padding-bottom: 67px;
  display: inline-block;
}

.btn-footer-attachments {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: space-evenly;
}

.ul-file-selected {
  list-style: none !important;
}

li.file-selected {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
}

li.file-selected > svg {
  min-width: 24px;
  margin-right: 0.2rem;
}

.delete-file {
  fill: red;
  cursor: pointer;
}

.file-selected-container {
  height: 100%;
  overflow: auto;
}

.name-file {
  word-break: break-all;
}

.rw-conversation-container .rw-reply {
  text-align: center;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

/* attachments */
